<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pexeso.Properties.Settings.ConnectionString" connectionString="Driver={Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)};dbq=C:\Users\Administrator\source\repos\czechitas\Cis\20211201\Pexeso\Pexeso\PravidlaPexeso.xlsx;defaultdir=C:\Users\Administrator\source\repos\czechitas\Cis\20211201\Pexeso\Pexeso;driverid=1046;fil=excel 12.0;filedsn=C:\Users\Administrator\source\repos\czechitas\Cis\20211201\Pexeso\Pexeso\PravidlaPexeso.xlsx.dsn;maxbuffersize=2048;maxscanrows=8;pagetimeout=5;readonly=1;safetransactions=0;threads=3;uid=admin;usercommitsync=Yes"
            providerName="System.Data.Odbc" />
        <add name="Pexeso.Properties.Settings.DataPexesoConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataPexeso.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>